{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint",
    "emotion",
    "import"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "settings": {
    "react": {
      "version": "16.8"
    }
  },
  "rules": {
    "arrow-body-style": 0,
    "camelcase": 0,
    "comma-dangle": ["error", "always-multiline"],
    "eqeqeq": "error",
    "guard-for-in": "error",
    "lines-between-class-members": ["error", "always"],
    "no-console": "error",
    "no-debugger": "error",
    "no-param-reassign": "error",
    "no-plusplus": "error",
    "no-restricted-syntax": ["error", "ForOfStatement"],
    "no-unused-vars": 0,
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "block-like", "next": "*" },
      { "blankLine": "always", "prev": "multiline-expression", "next": "*" }
    ],
    "prefer-const": "error",
    "semi": ["error", "never"],
    "sort-keys": "error",

    "emotion/jsx-import": "error",
    "emotion/no-vanilla": "error",
    "emotion/import-from-emotion": "error",
    "emotion/styled-import": "error",

    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "groups": [
          ["builtin", "external"],
          ["internal"],
          ["parent", "sibling"],
          "index",
          "object"
        ],
        "newlines-between": "always"
      }
    ],

    "react/display-name": 0,
    "react/jsx-boolean-value": ["error", "always"],
    "react/jsx-no-target-blank": 0,
    "react/jsx-uses-vars": "error",
    "react/no-deprecated": "error",
    "react/no-find-dom-node": "error",
    "react/no-unescaped-entities": "error",
    "react/no-will-update-set-state": "error",
    "react/prefer-stateless-function": "error",
    "react/prop-types": 0,
    "react/require-default-props": "error",
    "react/sort-prop-types": "error",
    "react/style-prop-object": "error",

    "react-hooks/exhaustive-deps": "error",
    "react-hooks/rules-of-hooks": "error",

    "@typescript-eslint/array-type": "error",
    "@typescript-eslint/consistent-type-definitions": ["error", "type"],
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "default",
        "format": ["strictCamelCase", "StrictPascalCase", "UPPER_CASE"],
        "leadingUnderscore": "allow"
      }
    ],
    "@typescript-eslint/no-non-null-assertion": "error",
    "@typescript-eslint/no-parameter-properties": 0,
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }
    ],
    "@typescript-eslint/no-use-before-define": "error",
    "@typescript-eslint/prefer-interface": 0
  },
  "overrides": [
    {
      "files": ["*.spec.tsx", "*.spec.ts"],
      "rules": {
        "sort-keys": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-object-literal-type-assertion": "off"
      }
    },

    {
      "files": ["*.examples.tsx"],
      "rules": {
        "no-console": "off"
      }
    }
  ]
}
